table.dataTable.display tbody tr.scheduled td,
table.dataTable.display tbody tr.scheduled:hover td {
    background-color: rgb(255,255,220) !important;
}
table.dataTable.display tbody tr.needs-review td,
table.dataTable.display tbody tr.needs-review:hover td {
    background-color: rgb(255,220,220) !important;
}
table.dataTable.display tbody tr.failed td,
table.dataTable.display tbody tr.failed td {
    background-color: #e6ab5e !important;
}

/* exclude review rows from shoreditch overflow handling  */
.page-civicrm-contact #memberships table tr.crm-membership-review table td:not(:last-child) {
    max-width: unset;
    overflow: unset;
    text-overflow: unset;
}

.crm-form-block .crm-section .content.field-info {
  background-color: #eae99e;
  border-radius: 2px;
  display: inline-block;
  margin-top: 4px;
  padding: 3px;
}

.crm-form-block .crm-section + hr {
  margin-bottom: 15px;
}

/* shoreditch overwrites the jquery-ui css with opacity: 1, making
   disabled datepicker options look almost the same as enabled ones.
   we overwrite the overwrite with the original opacity from jquery-ui.
   Should have no impact on other themes
 */
.ui-datepicker-calendar .ui-state-disabled {
  opacity: 0.35;
}
